<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.demo.Mapper.Forest_CustomerMapper">
    <resultMap id="BaseResultMap" type="com.forest.demo.Entity.Forest_CustomerEntity">
        <!--@mbg.generated-->
        <!--@Table forest_xitongyonghu-->
        <id column="forest_Customer_ID" property="forest_Customer_ID"/>
        <result column="forest_Customer_Name" property="forest_Customer_Name"/>
        <result column="forest_Customer_Sex" property="forest_Customer_Sex"/>
        <result column="forest_Customer_Card" property="forest_Customer_Card"/>
        <result column="forest_Customer_Phone" property="forest_Customer_Phone"/>
        <result column="forest_Customer_Email" property="forest_Customer_Email"/>
        <result column="forest_Customer_Home" property="forest_Customer_Home"/>
        <result column="forest_Customer_Time" property="forest_Customer_Time"/>
    </resultMap>
    <!-- 分页查询-->
    <select id="ForestCustomerEntitySelect" parameterType="com.forest.demo.Entity.Forest_CustomerEntity" resultMap="BaseResultMap">
        SELECT *
        FROM forest_customer
        order by FOREST_Customer_Time desc
        limit #{num},#{size}
    </select>
    <!-- 总行数-->
    <select id="ForestCustomerEntityRow"  resultType="java.lang.Integer">
        SELECT count(*)
        FROM forest_customer
    </select>
    <!--搜索数据-->
    <select id="ForestCustomerEntitySearch" parameterType="com.forest.demo.Entity.Forest_CustomerEntity" resultMap="BaseResultMap">
        SELECT *
        FROM forest_customer
        where FOREST_Customer_Name like "%"#{forest_Customer_Name}"%"
        order by FOREST_Customer_Time desc
        limit #{num},#{size}
    </select>
    <!-- 搜索总行数-->
    <select id="ForestCustomerEntitySearchRow"  resultType="java.lang.Integer">
        SELECT count(*)
        FROM forest_customer
        where FOREST_Customer_Name like "%"#{forest_Customer_Name}"%"
    </select>
    <!--详情-->
    <select id="ForestCustomerEntityDetails" parameterType="com.forest.demo.Entity.Forest_CustomerEntity" resultMap="BaseResultMap">
        SELECT *
        FROM forest_customer
        where FOREST_Customer_Card=#{forest_Customer_Card}
    </select>

    <!--新增数据-->
    <insert id="ForestCustomerEntityRegister" keyColumn="forest_Customer_ID" keyProperty="forest_Customer_ID" parameterType="com.forest.demo.Entity.Forest_CustomerEntity"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into forest_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="forest_Customer_Name != null and forest_Customer_Name != ''">
                FOREST_Customer_Name,
            </if>
            <if test="forest_Customer_Sex != null and forest_Customer_Sex != ''">
                FOREST_Customer_Sex,
            </if>
            <if test="forest_Customer_Card != null and forest_Customer_Card != ''">
                FOREST_Customer_Card,
            </if>
            <if test="forest_Customer_Phone != null and forest_Customer_Phone != ''">
                FOREST_Customer_Phone,
            </if>
            <if test="forest_Customer_Email != null and forest_Customer_Email != ''">
                FOREST_Customer_Email,
            </if>
            <if test="forest_Customer_Home != null and forest_Customer_Home != ''">
                FOREST_Customer_Home,
            </if>
            <if test="forest_Customer_Time != null and forest_Customer_Time != ''">
                FOREST_Customer_Time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="forest_Customer_Name != null and forest_Customer_Name != ''">
                #{forest_Customer_Name},
            </if>
            <if test="forest_Customer_Sex != null and forest_Customer_Sex != ''">
                #{forest_Customer_Sex},
            </if>
            <if test="forest_Customer_Card != null and forest_Customer_Card != ''">
                #{forest_Customer_Card},
            </if>
            <if test="forest_Customer_Phone != null and forest_Customer_Phone != ''">
                #{forest_Customer_Phone},
            </if>
            <if test="forest_Customer_Email != null and forest_Customer_Email != ''">
                #{forest_Customer_Email},
            </if>
            <if test="forest_Customer_Home != null and forest_Customer_Home != ''">
                #{forest_Customer_Home},
            </if>
            <if test="forest_Customer_Time != null and forest_Customer_Time != ''">
                #{forest_Customer_Time},
            </if>
        </trim>
    </insert>
    <!--详情  编号-->
    <select id="ForestCustomerEntityID" parameterType="com.forest.demo.Entity.Forest_CustomerEntity" resultMap="BaseResultMap">
        SELECT *
        FROM forest_customer
        where FOREST_Customer_ID=#{forest_Customer_ID}
    </select>
    <!--修改业主信息  业务人员-->
    <update id="ForestCustomerEntityUpdate"  parameterType="com.forest.demo.Entity.Forest_CustomerEntity">
        update forest_customer
        <set>
            <if test="forest_Customer_Name != null and forest_Customer_Name != ''">
                FOREST_Customer_Name = #{forest_Customer_Name},
            </if>
            <if test="forest_Customer_Sex != null and forest_Customer_Sex != ''">
                FOREST_Customer_Sex = #{forest_Customer_Sex},
            </if>
            <if test="forest_Customer_Card != null and forest_Customer_Card != ''">
                FOREST_Customer_Card = #{forest_Customer_Card},
            </if>
            <if test="forest_Customer_Phone != null and forest_Customer_Phone != ''">
                FOREST_Customer_Phone = #{forest_Customer_Phone},
            </if>
            <if test="forest_Customer_Email != null and forest_Customer_Email != ''">
                FOREST_Customer_Email = #{forest_Customer_Email},
            </if>
            <if test="forest_Customer_Home != null and forest_Customer_Home != ''">
                FOREST_Customer_Home = #{forest_Customer_Home},
            </if>
            <if test="forest_Customer_Time != null and forest_Customer_Time != ''">
                FOREST_Customer_Time = #{forest_Customer_Time},
            </if>
        </set>
        where FOREST_Customer_Card = #{forest_Customer_Card}
    </update>
</mapper>